.App,
html,
body {
  background-color: rgb(219, 219, 219);
  font-family: "Roboto", sans-serif;
}
.user-posts-container {
  height: 89vh;
  overflow-y: auto;
}
.post-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.dark {
  background-color: #16161d;
  color: rgb(219, 219, 219);
}
.light {
  background-color: rgb(219, 219, 219);
  color: #16161d;
}
.user-posts-home {
  border-left: 1px solid rgba(10, 10, 10, 0.4);
}

/* .dropdown {
  width: 1000px;
} */

#basic-nav-dropdown {
  color: rgb(219, 219, 219) !important;
}

.dropdown-toggle::after {
  display: none;
}
