:root {
  --main-color: #343a40;
  --main-color--light: #5e6872;
  --main-color--dark: #202428;
  --main-color--white: #dbdbdb;
}

.App,
html,
body {
  background-color: var(--main-color-white);
  font-family: "Roboto", sans-serif;
}

/* Nav Bar */

#navpad {
  padding: 0 6px !important;
}

#basic-nav-dropdown {
  color: rgb(219, 219, 219) !important;
}

.custom-nav-bar {
  background-color: var(--main-color);
}

.dropdown-toggle::after {
  display: none;
}

/**/

.copyright {
  position: relative;
  top: -16px;
  font-size: 20px;
}

.user-posts-container {
  height: 89vh;
  overflow-y: auto;
}
.post-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--main-color);
}

.subtitle {
  color: var(--main-color);
}

.dark {
  background-color: #16161d;
  color: rgb(219, 219, 219);
}
.light {
  background-color: rgb(219, 219, 219);
  color: #16161d;
}
.user-posts-home {
  border-left: 1px solid rgba(10, 10, 10, 0.4);
}

.margin-bottom {
  margin-bottom: 40px;
}
