.custom-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.028);
  margin: 20px;
  padding: 15px;
  background-color: #f1f1f1;
  width: 75%;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body-container {
  width: 100%;
}

.custom-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.custom-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-text {
  margin-bottom: 10px;
  word-break: break-word !important;
}

.custom-like-button {
  border: none;
  background-color: #007bff;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.custom-dislike-button {
  border: none;
  background-color: #dc3545;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.custom-like-button:hover {
  background-color: #0257b3;
  transform: scale(1.05);
}

.custom-dislike-button:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

@media (max-width: 576px) {
  .custom-card {
    padding: 10px;
  }

  .custom-image {
    width: 40px;
    height: 40px;
  }

  .custom-title {
    font-size: 14px;
  }

  .custom-text {
    font-size: 12px;
  }
}
