.emoji-picker-container {
  position: relative;
  background-color: brown;
  width: 600px;
  height: 400px;
}
.emoji-picker {
  position: absolute;
  width: 100%;
  height: 100%;
}

.post-button-container {
  display: flex;
  justify-content: flex-end;
}
.custom-input-container {
  padding: 0;
  margin: 10px 0 0 0;
}
.custom-btn {
  border-radius: 50px;
  background-color: rgb(29, 29, 29);
  border: none;
}
.form-control {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

.form-control:focus {
  background-color: transparent;
  box-shadow: none;
}
hr {
  margin-top: 0;
}
